[submodule "Get_Next_line-42"]
	path = Get_Next_line-42
	url = git@github.com:miguelfdez03/Get_Next_line-42.git
[submodule "Libft-42"]
	path = Libft-42
	url = git@github.com:miguelfdez03/Libft-42.git
[submodule "Printf-42"]
	path = Printf-42
	url = git@github.com:miguelfdez03/Printf-42.git
[submodule "pipex-42"]
	path = pipex-42
	url = git@github.com:miguelfdez03/pipex-42.git
[submodule "So_long"]
	path = So_long
	url = git@github.com:miguelfdez03/So_long.git
[submodule "ExamRank02"]
	path = ExamRank02
	url = git@github.com:miguelfdez03/ExamRank02.git
[submodule "Push_swap-42"]
	path = Push_swap-42
	url = git@github.com:miguelfdez03/Push_swap-42.git
